.headerContainer{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-white);
    color: var(--text-black);
}
.logoContainer{
    margin: 14px;
}
.logo{
    height: 4em;
    width: 12em;
    background-image: url("../Assets/logo.svg");
    background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.headerMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    color: var(--text-black);
}
.menuContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--text-black);
}
.headerMenuLink{
    position: relative;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-black);
    background-color: transparent;
}
.headerMenuLink::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--background-dark);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
  }

  .headerMenuLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.loggedSection{
    margin-left: 1.5em;
    margin-right: 2em;
}
.loginBtn{
    border: 2px solid var(--background-dark);
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 14px;
    box-shadow: 1px 1px 4px 1px hsl(0deg 0% 50% / 25%);
    text-decoration: none;
    color: var(--text-black);
}
.loginBtn:hover{
    color: var(--background-white);
    background-color: var(--background-dark);
}
.link{
    text-decoration: none;
    color: var(--text-black);
    background-color: transparent;
}
.menuIcon{
    height: 1.5em;
    width: 1em;
    font-size: larger;
    cursor: pointer;
    color: #202124;
}
.mainMenuIcon{
    height: 1.5em;
    width: 1em;
    font-size: larger;
    cursor: pointer;
    color: #202124;
    margin-right: 1em;
}
.loggedMenuHolder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}