.landingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 37em;
    min-height: fit-content;
    background-color: var(--background-white);
}
.homeHeading{
    font-weight: 700;
    font-size: 44px;
}
.lastCtaContainer{
    height: 27em;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 24px;
    justify-content: center;
}
.lastCta{
    background-image: url("../Assets/abstract-mind.svg");
    background-repeat: no-repeat;
	background-position:right;
	background-size:25em;
    height: 17em;
    width: 64em;
    padding: 2em 5em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: var(--background-dark);
    border-radius: 12px;
}
.lastCtaHeading{
    background-color: transparent;
    color: var(--background-white);
    font-size: 38px;
    font-weight: 600;
}
.lastCtaSummary{
    background-color: transparent;
    color: var(--background-white);
    font-size: 16px;
    line-height: 3;
    font-weight: 100;
}
.lastCtaBtn{
    cursor: pointer;
    background-color: transparent;
    color: var(--background-white);
    border: 2px solid var(--background-white);
    display: flex;
    flex-direction: row;
    padding: 6px 28px;
    border-radius: 16px;
    font-weight: 500;
    align-items: center;
    justify-content: space-around;
}
.lastCtaBtn:hover{
    background-color: white;
    color: black;
    transition-duration: 300ms;
}
.ctaBtnIcon{
    background-color: transparent;
    color: var(--text-white);
}
.uspContainer{
    border: 0px solid black;
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.uspAssets{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.uspDoor{
    position: relative;
    top: 0px;
    right: 50px;
    height: 60vh;
    width: 20vw;
    background-image: url("../Assets/door.svg");
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.uspBook{
    position: relative;
    z-index: 9;
    top: 60px;
    left: -250px;
    height: 60vh;
    width: 20vw;
    background-image: url("../Assets/Books/500.jpg");
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
.uspContentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.uspContent{
    margin-top: 80px;
    width: 35vw;
    height: fit-content;
    word-wrap: break-word;
    font-weight: 600;
    font-size: 80px;
    line-height: .9;
}
.hollow{
    display: inline-block;
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: transparent;
}

.genreSectionContainer{
    background-color: var(--background-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
    
}
.genreHeadingContainer{
    background-color: transparent;
}
.genreHeading{
    font-size: 40px;
    text-transform:uppercase;
    background-color: transparent;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--background-white)
    
}
.genreHighlight{
    display: inline-block;
    text-transform: capitalize;
    -webkit-transform: translate(0,-18px) rotate(-5deg);
    transform: translate(0,-18px) rotate(-5deg);
    background-color: var(--background-white);
    color: var(--background-dark);
}
.genreSection{
    width: 100%;
    display: flex;
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.genre{
    width: 10vw;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background-color: transparent;
    opacity: .9;
    border: 3px dashed white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.genreText{
    color: var(--text-white);
    font-size: 32px;
    background-color: transparent;
}
.genreText:hover{
    text-decoration: underline;
}