.detailsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background-white);
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}
.contentSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 30%;
    height: fit-content;
}
.bookName{
    font-size: 42px;
    font-weight: 500;
    width: 10em;
}
.authorName{
    font-size: 22px;
}
.authorLink{
    text-decoration: none;
    color: var(--background-dark);
}
.authorLink:hover{
    text-decoration: underline;
}
.genre{
    margin: 10px 0px 10px 0px;
    font-weight: 500;
}
.genreLink{
    text-decoration: none;
    text-transform: uppercase;
    color:var(--background-dark);
}
.genreLink:hover{
    text-decoration: underline;
    
}
.imageContainer{
    margin-left: 80px;
}
.bookImage{
    height: auto;
    width: 20em;
    box-sizing: border-box;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.description{
    width: 20em;
    font-weight: 500;
    font-size:20px;
}
.actionBtnHolder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    width: 16em;
}
.cartBtn{
    padding: 12px 30px;
    border: 1px solid var(--background-dark);
    border-radius: 4px;
    transition: all .35s ease-in-out;
    cursor: pointer;
    width: 12em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-dark);
    color: white
}
.inCartBtn{
    padding: 12px 30px;
    border: 1px solid #2cba00;
    border-radius: 4px;
    transition: all .35s ease-in-out;
    cursor: pointer;
    width: 12em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2cba00;
    color: white
}
.cartIcon{
    margin-bottom: -5px;
}
.lockBtn{
    padding: 12px 30px;
    border: 1px solid var(--background-dark);
    border-radius: 4px;
    transition: all .3s ease-in-out;
    background-color: var(--background-dark);
    cursor: pointer;
    text-decoration: none;
    width: 12em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
.outOfStockBtn{
    padding: 12px 30px;
    background-color: rgb(190, 184, 184);
    border: 1px solid var(--background-dark);
    border-radius: 4px;
    transition: all .3s ease-in-out;
    cursor: not-allowed;
    width: 12em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wishlistBtn{
    background-color: transparent;
    padding: 9px 12px;
    border-radius: 4px;
    color:var(--background-dark);
    font-size: 24px;
    cursor: pointer;
}
.heart{
    color:red;
}
.stock{
    background-color: red;
    color: white;
    padding: 4px 6px;
    margin-top: 10px;
}
.priceHolder{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    align-items: baseline;
    justify-content: space-between;
    width: 5em;
}
.price{
    font-size: x-large;
}
.discountPrice{
    font-size: x-large;
    color: #2cba00;
}
.actualPrice{
    font-size: large;
    color: red;
    text-decoration:line-through;
    margin-left: 10px;
}
