.searchBar{
    border: 1px solid gainsboro;
    border-radius: 15px;
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.searchInput{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: auto;
    width: 20em;
    padding: 10px 14px;
    font-size: 16px;
}
.searchInput:focus{
    border: none;
    outline: none;
}
.clear{
    background-color: white;
    height: 2em;
    width: 1em;
    font-size: larger;
    cursor: pointer;
    color: #202124;
}
.search{
    height: 2em;
    width: 2em;
    padding-right: 0.5em;
    font-size: larger;
    background-color: white;
    color: #202124;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.suggestionContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: absolute;
    margin-top: 4px;
    width: 25%;
    border-radius: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.suggestionDetails{
    padding: 8px 10px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.suggestionDetails:last-child{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 10px;
}
.suggestionDetails:first-child{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top: 10px;
}
.suggestionDetails:not(:last-child){
    border-bottom: 1px solid #d3d3d3;
}
.suggestionDetails:hover{
    cursor: pointer;
    background-color: gainsboro;
}
.suggestionImage{
    width: auto;
    height: 4em;
    margin-right: 7px;
}