.searchBar{
    border: 1px solid gainsboro;
    border-radius: 15px;
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.searchInput{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    height: auto;
    width: 20em;
    padding: 10px 14px;
    font-size: 16px;
}
.searchInput:focus{
    border: none;
    outline: none;
}
.clear{
    background-color: white;
    height: 2em;
    width: 1em;
    font-size: larger;
    cursor: pointer;
    color: #202124;
}
.search{
    height: 2em;
    width: 2em;
    padding-right: 0.5em;
    font-size: larger;
    background-color: white;
    color: #202124;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
